.p-4 {
    background-color: tomato;
    color: white;
    text-align: left;
    padding: 5px;
}

.bit-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bit-link:hover {
    color: #0096FF;
}